@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');

/*Stretch all elements to edge of screen*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-blue: #1d2b38;
    --soft-blue: #383a5e;
    --mid-blue: #33398f;
    --light-blue: #60c8d6;
    --burnt-green: #70ae6e;
    --light-purple: #9677df;
    --light-grey: #cecece;
    --mid-grey: #707070;
    --dark-grey: #303030;
}

/*General HTML styling*/

html {
    font-family: 'Source Sans Pro', sans-serif;
    scroll-behavior: smooth;
    background-image: linear-gradient(to bottom, rgb(34, 53, 70), var(--dark-blue));
    color: #fff;
}

a {
    text-decoration: none;
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
}

li a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 5px;
}

#name {
    color: var(--light-blue);
    font-weight: bold;
}

.section-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 4rem;
    margin: 20px;

    text-shadow: 0px 2px black;
}

/*Hero styling*/

.hero-section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero-blur-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
    z-index: 1;
}

@keyframes blur {
    0% {
        filter: blur(10px);
        -webkit-filter: blur(10px);
        transform: scale(1.1);
    }

    100% {
        filter: blur(2px);
        -webkit-filter: blur(2px);
        transform: scale(1);
    }
}

.hero-image-container {
    position: absolute;
    background-image: url(images/me.JPG);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    margin-top: 0vh;
    animation: blur 5s;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.hero-text-container {
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

@keyframes hero-header-fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes hero-text-fade {
    from {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.hero-header-text {
    text-align: center;
    font-size: 50px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0px 1px black;
    z-index: 2;
    animation: hero-header-fade 3s;
}

.hero-text {
    text-align: center;
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
    z-index: 2;
    animation: hero-text-fade 3s;
}

.skill-text {
    color: var(--mid-blue);
    text-shadow: 0px 1px black;
}

/*Projects styling*/

.project-container {
    height: auto;
    width: 100%;
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}

.project-item {
    position: relative;
    height: 400px;
    width: 400px;
    background: white;
    margin: 50px;
    box-shadow: -15px 7px 30px rgba(0,0,0,0.2);
    border-radius: 8px;
    background-size: cover;
    background-position: left center;
}

#synapse {
    background-image: url(images/synapsedemo.PNG);
    background-position: center; 
}

#flexcave {
    background-image: url(images/flexcavedemo.PNG);
    background-position: center top;
}

#buttingheads {
    background-image: url(images/buttingheadsdemo.PNG);
    background-position: left center;
}

.project-name {
    margin-top: 10px;
    text-align: center;
    font-size: 2rem;
    text-shadow: 0px 1px black;
}

.text-container {
    position: absolute;
    height: 60px;
    width: 100%;
    z-index: 2;
    left: 0;
    bottom: 0;
    background-color: var(--soft-blue);
    overflow: hidden;
    transition: .5s;
    animation: container-slide-down .5s;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.text-container:hover {
    height: 55%;
    animation: container-slide-up .5s;
}

@keyframes container-slide-up {
    from {
        height: 60px;
    }
    
    to {
        height: 55%;
    }
}

@keyframes container-slide-down {
    from {
        height: 55%;
    }
    
    to {
        height: 60px;
    }
}

.project-content {
    padding: 10px 0;
}

.project-content p {
    text-align: center;
    text-shadow: 0px 1px black;
}

/*About styling*/
.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

.about-card {
    width: 50%;
    background-color: var(--soft-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    border-radius: 2%;
}

.about-image {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.about-image img {
    width: 50%;
    height: 50%;
    border-radius: 5%;
}

.about-text {
    padding: 25px 0;
    width: 90%;
    text-align: center;
}

.about-text p {
    font-size: 25px;
    text-shadow: 0px 1px black;
}

/*Contact styling*/
.contact-container {
    width: 100%;
    height: 100%;
    background-color: rgba(70,70,70,0.4);
}

.contact-container ul {
    justify-content: center;
}

.contact-text {
    text-align: center;
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
}

.icons-list {
    padding-left: 45%;
    padding-right: 45%;
}

/*Misc styling*/
.social-icon {
    width: 25%;
    text-align: center;
    margin: auto;
}

.social-icon img {
    height: 32px;
    width: 32px;
}

/*Used to lock scrolling of body when mobile navbar is active*/
.scroll-lock {
    overflow: hidden;
}

/*Mobile styling*/
@media screen and (max-width: 768px) {
    /*Adjust hero text sizes to appear better on smaller screens*/
    .hero-text-container {
        height: 70%;
    }

    .hero-header-text {
        font-size: 35px;
    }

    .hero-text {
        font-size: 25px;
    }

    /*Adjusting the about card to be wider on mobile devices makes the page more compact and nicer to view*/
    .about-card {
        width: 80%;
    }

    /*Adjusting the margin of the about text makes it scale better on smaller devices*/
    .about-text {
        margin-left: 5%;
        margin-right: 5%;
        text-align: center;
    }

    .about-text p {
        font-size: 20px;
    }

    /*Scale up image to appear larger on mobile, and remove image margin used on larger screens.*/
    .about-image img {
        height: 90%;
        width: 90%;
        margin-left: 0;
    }

    /*Same as above but with icons*/
    .icons-list {
        padding-left: 25%;
        padding-right: 25%;
    }

    /*Update scaling of project content container when selected. Makes containers look less spacious.*/
    .text-container:hover {
        height: 65%;
    }
    
    @keyframes container-slide-up {
        from {
            height: 60px;
        }
        
        to {
            height: 65%;
        }
    }
    
    @keyframes container-slide-down {
        from {
            height: 65%;
        }
        
        to {
            height: 60px;
        }
    }
}

/*Dark mode styling*/
/*
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark-grey);
        color: white;
    }

    .text-container {
        background-color: var(--mid-grey);
    }

    .project-content {
        color: white;
    }

    .contact-container {
        background-color: var(--mid-grey);
    }
} */