@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');

/*Stretch all elements to edge of screen*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-blue: #030f1d;
    --soft-blue: #383a5e;
    --mid-blue: #33398f;
    --light-blue: #60c8d6;
    --burnt-green: #70ae6e;
    --light-purple: #9677df;
    --light-grey: #cecece;
    --mid-grey: #707070;
    --dark-grey: #303030;
}

/*General HTML styling*/

html {
    font-family: 'Source Sans Pro', sans-serif;
    scroll-behavior: smooth;
    background-image: linear-gradient(to bottom, rgb(28, 33, 70), var(--dark-blue));
    color: #fff;
}

a {
    text-decoration: none;
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
}

li a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 5px;
}

#name {
    color: var(--light-blue);
    font-weight: bold;
}

.section-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 4rem;
    margin: 20px;

    text-shadow: 0px 2px black;
}

/*Hero styling*/

.hero-section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero-blur-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
    z-index: 1;
}

@keyframes blur {
    0% {
        filter: blur(2px);
        -webkit-filter: blur(2px);
        transform: scale(1.1);
    }

    100% {
        filter: blur(15px);
        -webkit-filter: blur(15px);
        transform: scale(1);
    }
}

.hero-image-container {
    position: absolute;
    background-image: url(images/heroimage.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    margin-top: 0vh;
    animation: blur 5s;
    filter: blur(15px);
    -webkit-filter: blur(15px);
}

.hero-content-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes hero-header-fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes hero-text-fade {
    from {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.hero-icon {
    width: 200px;
    height: 200px;
    background-image: url("images/me_icon.png");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: 2;
    animation: hero-header-fade 3s;
}

.hero-header-text {
    text-align: center;
    font-size: 50px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0px 1px black;
    z-index: 2;
    animation: hero-header-fade 3s;
}

.hero-text {
    text-align: center;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    z-index: 2;
    animation: hero-text-fade 3s;
    text-shadow: 0px 1px black;
}

.skill-text {
    color: var(--mid-blue);
}

/*Projects styling*/
#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-container {
    height: auto;
    width: 80%;
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}

.project-item {
    position: relative;
    height: 400px;
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    background-color: var(--soft-blue);
    margin: 25px;
    box-shadow: -15px 7px 30px rgba(0,0,0,0.2);
    border-radius: 8px;
}

.project-name {
    margin-top: 10px;
    text-align: center;
    font-size: 2rem;
    text-shadow: 0px 1px black;
}

.project-subheader {
    text-align: center;
    font-size: 15px;
    text-shadow: 0px 1px black;
    width: 75%;
}

.project-image {
    width: 90%;
    height: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    outline: 1px solid var(--dark-grey);
}

.project-icons {
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#crazyeights {
    background-image: url(images/crazyeightsdemo.jpg);
    background-position: center; 
}

#sketch {
    background-image: url(images/sketchdemo.jpg);
    background-position: center;
}

#synapse {
    background-image: url(images/synapsedemo.PNG);
    background-position: center; 
}

#flexcave {
    background-image: url(images/flexcavedemo.PNG);
    background-position: center
}

/*Contact styling*/
.contact-container {
    width: 100%;
    height: 100%;
    background-color: rgba(70,70,70,0.4);
}

.contact-container ul {
    justify-content: center;
}

/*Misc styling*/
.social-icon {
    text-align: center;
}

.social-icon img {
    height: 40px;
    width: 40px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*Used to lock scrolling of body when mobile navbar is active*/
.scroll-lock {
    overflow: hidden;
}

/*Mobile styling*/
@media screen and (max-width: 768px) {
    /*Adjust hero text sizes to appear better on smaller screens*/
    .hero-text-container {
        height: 70%;
    }

    .hero-header-text {
        font-size: 35px;
    }

    .hero-text {
        font-size: 15px;
    }

    /*Same as above but with icons*/
    .icons-list {
        padding-left: 25%;
        padding-right: 25%;
    }

    /*Update scaling of project content container when selected. Makes containers look less spacious.*/
    .text-container:hover {
        height: 65%;
    }
    
    @keyframes container-slide-up {
        from {
            height: 60px;
        }
        
        to {
            height: 65%;
        }
    }
    
    @keyframes container-slide-down {
        from {
            height: 65%;
        }
        
        to {
            height: 60px;
        }
    }
}

/*Dark mode styling*/
/*
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark-grey);
        color: white;
    }

    .text-container {
        background-color: var(--mid-grey);
    }

    .project-content {
        color: white;
    }

    .contact-container {
        background-color: var(--mid-grey);
    }
} */